<%= form_for @report, url: posts_path do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'ckeditor' %>
  </div>
  <div>
    <%= f.label :who %>
    <%= f.text_field :who , :value => current_user.name%>
  </div>
  <div>
    <%= f.submit "Зберегти" %>
  </div>
<% end %>