<% if user_signed_in? && (current_user.has_role? :admin) %>
  <%= link_to "Створити Запис", ckeditor_path, class: "btn btn-success" %>
  <br>
<% end %>
<br>
<% @reports.each do |report| %>
  <div class="card border-secondary mb-3" style="max-width: 51rem;">
    <div class="card-header"><%= link_to report.student_id %>
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to " Змінити", class: 'float-right' %>
        <%= link_to "Видалити ", method: :delete, data: {confirm: 'Ви впевнені?'}, class: 'float-right' %>
      <% end %>
    </div>
    <%= link_to '', root_path  %>
    <div class="card-body">
      <p class="card-text"><%= report.body %><br>
        Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer"><%= link_to report.who, root_path, class: 'badge badge-pill badge-success' %><form class="float-right"><%= report.when.strftime('%d-%m-%Y') %></form></div>
  </div>
<% end %>

