<div class="card border-secondary mb-3" style="max-width: 51rem;">
  <div class="card-header">
    <%= link_to 'Добавити Д/З', new_home_work_path, class: 'badge badge-pill badge-success' %>
  </div>
  <div class="card-body">

    <div class="row container-fluid">
      <div class="col-lg-5 ml-4">
        <table class="table table-hover" align="left">
          <tr class="table-light">
            <td colspan="4" class="table-center">Понеділок <%= date_of_next('Monday') %></td>
          </tr>
          <% @monday.each do |mnd| %>
            <tr class="table-light">
              <th class="subjects"><%= mnd.subject %></th>
              <th class="hometasks" colspan="2"><%= mnd.description %></th>
            </tr>
          <% end %>
              <tr class="table-light">
                <td colspan="4" class="table-center">Вівторок <%= date_of_next('Tuesday') %></td>
              </tr>
              <% @tuesday.each do |tsd| %>
                <tr class="table-light">
                  <th class="subjects"><%= tsd.subject %></th>
                  <th class="hometasks" colspan="2"><%= tsd.description %>
                </tr>
          <% end %>
                  <tr class="table-light">
                    <td colspan="4" class="table-center">Середа <%= date_of_next('Wednesday') %></td>
                  </tr>
                  <% @wednesday.each do |wdn| %>
                    <tr class="table-light">
                      <td class="subjects"><%= wdn.subject %></td>
                      <td class="hometasks" colspan="2"><%= wdn.description %></td>
                    </tr>
          <% end %>
                      </table></div>
                      <div class="ml-5" align="right">
                        <table class="table table-hover" align="right" style="float: right">
                          <tr class="table-light">
                            <td colspan="4" class="table-center">Четвер <%= date_of_next('Thursday') %></td>
                          </tr>
                          <% @thursday.each do |trs| %>
                            <tr class="table-light">
                              <td><%= trs.subject %></td>
                              <td colspan="2"><%= trs.description %></td>
                            </tr>
                          <% end %>
                              <tr class="table-light">
                                <td colspan="4" class="table-center">П'ятниця <%= date_of_next('Friday') %></td>
                              </tr>
                              <% @friday.each do |frd| %>
                                <tr class="table-light">
                                  <td class="subjects"><%= frd.subject %></td>
                                  <td class="hometasks" colspan="2"><%= frd.description %>
                          <% end %>

                                  <tr class="table-light">
                                    <td colspan="4" class="table-center">Субота <%= date_of_next('Saturday') %></td>
                                  </tr>
                                  <% @saturday.each do |str| %>
                                    <tr class="table-light">
                                      <td class="subjects"><%= str.subject %></td>
                                      <td class="hometasks" colspan="2"><%= str.description %>
                          <% end %>


                          </tr>
          </table>
          <hr>
          <br>
          </div>
    </div>
    <div class="card-footer"><%#= link_to show.who, root_path, class: 'badge badge-pill badge-success' %>
      <form class="float-right"><%##= show.updated_at %></form>
    </div>
  </div>
</div>