<%= form_for @home_task, url: home_works_path  do |ht| %>
  <div>
    <%= ht.label "Урок: " %>
    <%= ht.text_field :subject %>
  </div>
  <div>
    <%= ht.label "Д/З: " %>
    <%= ht.text_field :description %>
  </div>
  <div>
    <%= ht.label "Дата урока: " %>
    <%= ht.date_select :date_task,:start_year => Date.current.year, prefix: :start_date,order: [:year, :month, :day], :use_month_names => ["Січень", "Лютий", "Березень","Квітень","Травень","Червень","Липень",
                                                                                     "Серпень","Вересень","Жовтень","Лиспопад", "Грудень"] %>
  </div>
  <div>
    <%= ht.label 'Клас : ' %>
    <%= ht.label :class_room, :value => current_user.class_room %>
  </div>
  <div>
    <%= ht.submit %>
  </div>
 <% end %>
<%#= Date.parse('2018-12-25').strftime('%A') %>