<h1>HomeWorks#show</h1>
<% @hometask.each do |ht| %>
  <%= ht.description %>
  <%= ht.subject %>
  <%= ht.class_room %>
  <%= ht.week %><br>
<% end %>
  <% @hometask1.each do |ht| %>
    <%= ht.description %>
    <%= ht.subject %>
    <%= ht.class_room %>
    <%= ht.week %><br>
  <% end %>
    <% @hometask2.each do |ht| %>
      <%= ht.description %>
      <%= ht.subject %>
      <%= ht.class_room %>
      <%= ht.week %><br>
    <% end %>
      <% @hometask3.each do |ht| %>
        <%= ht.description %>
        <%= ht.subject %>
        <%= ht.class_room %>
        <%= ht.week %><br>
      <% end %>
        <% @hometask4.each do |ht| %>
          <%= ht.description %>
          <%= ht.subject %>
          <%= ht.class_room %>
          <%= ht.week %><br>
        <% end %>
          <% @hometask5.each do |ht| %>
            <%= ht.description %>
            <%= ht.subject %>
            <%= ht.class_room %>
            <%= ht.week %><br>
          <% end %>


