<p id="notice" class="text-success"><%= notice %></p>

<%= link_to 'New Pdf', new_pdf_path %>
<% @pdfs.each do |pdf| %>
  <div class="card border-secondary mb-3" style="max-width: 51rem;">
    <div class="card-header"><%= pdf.title %> <%= pdf.updated_at %>
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to raw("&#65794"), pdfs_url(pdf.id), method: :delete, data: {confirm: 'Ви впевнені?'}, class: 'float-right' %>
      <% end %>
    </div>
    <div class="card-body">
      <% if pdf.path.split('.').last == 'docx' %>
        <%= image_tag("/docx.svg", :alt => "docx", :style => 'float: left; margin : 13px') %>
      <% else%>
        <%= image_tag("/pdf.png", :alt => "pdf", :style => 'float: left; margin : 13px') %>
      <% end %>

      <p class="card-text"><%= pdf.description %><br>
    </div>
    <div class="card-footer">
    <% if pdf.path.split('.').last != 'docx' %>
      <%= link_to 'Відкрити', pdf_path(pdf.id), method: :get, class: 'badge badge-pill badge-success' %>
    <% end %>
      <%= link_to raw("Скачати &#128190;"), download_pdf_path(pdf.id), method: :get, class: 'badge badge-pill badge-success'%>
      <form class="float-right"><%= pdf.author %></form></div>
  </div>
  <br>
<% end %>
