<%= form_with(model: poct, local: true) do |form| %>
  <% if poct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poct.errors.count, "error") %> prohibited this poct from being saved:</h2>

      <ul>
      <% poct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :poct_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.cktext_area :body, id: :poct_body %>
  </div>

  <div class="field">
    <%= form.label :who %>
    <%= form.text_field :who, id: :poct_who %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
