<p id="notice"><%= notice %></p>

<h1>Pocts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Who</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pocts.each do |poct| %>
      <tr>
        <td><%= poct.title %></td>
        <td><%= poct.body %></td>
        <td><%= poct.who %></td>
        <td><%= link_to 'Show', poct %></td>
        <td><%= link_to 'Edit', edit_poct_path(poct) %></td>
        <td><%= link_to 'Destroy', poct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poct', new_poct_path %>
