<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.cktext_area :body, :class => 'ckeditor' %>
  </div>
  <div>
    <%= f.label :who %>
    <%= f.text_field :who , :value => current_user.name%>
  </div>
  <div>
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>
  <div>
    <%= f.submit "Зберегти" %>
  </div>
<% end %>