<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :who %>
    <%= f.text_field :who , current_user.name%>
  </div>
  <div>
    <%= f.submit "Сохранить" %>
  </div>
<% end %>