<%#= debug params %>
<% if user_signed_in? && (current_user.has_role? :admin) %>
  <%= link_to t('post.button_create_post'), new_post_path, class: "btn btn-success" %>
  <br>
<% end %>
<br>
<% @shows.each do |show| %>
  <div class="card" style="">
    <div class="card-header"><%= link_to show.title, post_path(show.id), class: 'text-center' %>
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to "delete", post_path(show.id), method: :delete, data: {confirm: 'Ви впевнені?'}, class: 'float-right material-icons' %>
        <%= link_to "edit", edit_post_path(show.id), class: 'float-right material-icons' %>
      <% end %>
    </div>
    <%= link_to image_tag(show.logo, height: '450px', width: '100%'), root_path %>
    <div class="card-body">
      <%= raw(show.body) %>
    </div>
    <div class="card-footer"><%= link_to show.who, root_path, class: 'badge badge-pill badge-success' %><form class="float-right"><%= show.updated_at.strftime('%m-%d-%Y') %></form></div>

  </div><br/>
<% end %>

<%= will_paginate @shows, class: 'text-center', previous_label: "&laquo;", next_label: "&raquo;"%>

