<% if user_signed_in? && (current_user.has_role? :admin) %>
  <%= link_to "Створити Запис", new_post_path, class: "btn btn-success" %>
  <br>
<% end %>
<br>
<% if Post.find(1) %>
  <p>asd</p>
<% end %>

<% @shows.each do |show| %>
  <div class="card border-secondary mb-3" style="max-width: 51rem;">
    <div class="card-header"><%= link_to show.title, post_path(show.id) %>
      <% if user_signed_in? && (current_user.has_role? :admin) %>
        <%= link_to "delete", destroy_path(show.id), method: :delete, data: {confirm: 'Ви впевнені?'}, class: 'float-right material-icons' %>
        <%= link_to "edit", edit_post_path(show.id), class: 'float-right material-icons' %>

      <% end %>
    </div>
    <%= link_to '', root_path  %>
    <div class="card-body">
      <p class="card-text"><%= raw(show.body) %><br>
        Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer"><%= link_to User.find(1).name, show_user_show_path(id:1), class: 'badge badge-pill badge-success' %><form class="float-right"><%= show.updated_at.strftime('%m-%d-%Y') %><%= @online %></form></div>
  </div>
<% end %>

<%= will_paginate @shows, class: 'text-center', previous_label: "&laquo;", next_label: "&raquo;"%>
