<% if user_signed_in? && (current_user.has_role? :admin) %>
  <%= link_to "Створити Запис", new_post_path, class: "btn btn-success" %>
  <br>
<% end %>
<br>
<div class="row">
<% @shows.each do |show| %>
    <div class="mb-1 col-lg-6" style="border: 0.5px solid black;">
      <h3 class="card-header"><%= link_to show.title, post_path(show.id) %></h3>
      <%= link_to image_tag(show.logo, height: '200px', width: '100%', style: 'display: block', alt: 'Card Image'), post_path(show.id) %>
<!--      <a href="<%#= post_path(show.id) %>">-->
<!--        <img style="height: 200px; width: 100%; display: block;" src="<%#= show.logo %>" alt="Card image">-->
<!--      </a>-->
      <div class="card-body">
        <p class="card-text"><%= raw show.body.split('.').first %></p>
      </div>
      <div class="card-footer text-muted">
        <%= show.created_at.strftime('%d-%m-%Y') %>
        <div class="float-right">
          <%= link_to "edit", edit_post_path(show.id), class: 'float-center material-icons' %>
          <%= link_to "delete", destroy_path(show.id), method: :delete, data: {confirm: 'Ви впевнені?'}, class: 'float-center material-icons' %>
        </div>
      </div>
    </div>
<% end %>
</div>
<%= will_paginate @shows, class: 'text-center', previous_label: "&laquo;", next_label: "&raquo;"%>
