<%= form_for @post, url:  posts_path  do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 'Опис' %>
    <%= f.text_area :body, :class => 'ckeditor'%>
  </div>
  <div>
    <%= f.label "Автор: "%>
    <%= f.text_field :who, :value => current_user.name%>
  </div>
  <div>
    <%= f.submit "Створити Пост" %>
  </div>
<% end %>
