<div class="card border-secondary mb-3" style="max-width: 51rem;">
  <div class="card-header"><%= link_to @shows.title, post_path(@shows.id) %>
    <% if user_signed_in? && (current_user.has_role? :admin) %>
      <%= link_to raw("&#65794"), posts_path(@shows.id), method: :delete, :class => 'float-right close' %>
      <%= link_to " Змінити ", edit_post_path(@shows.id), class: 'float-right edit' %>
    <% end %>
  </div>
  <%= link_to '', root_path  %>
  <div class="card-body">
      <p class="card-text"><%= @shows.body %><br>
      Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer"><%= link_to @shows.who, root_path, class: 'badge badge-pill badge-success' %><form class="float-right"><%= @shows.updated_at %></form></div>
</div>
