<%='1. ' + @title  %><br>
<%='2. ' + @title1 %><br>
<%='3. ' + @title2 %><br>
<%='4. ' + @title3 %><br>
<%='5. ' + @title4 %><br>
<%='5. ' + @title5 %><br>
<%= t("hello") %>
<fieldset>
  <legend>Custom forms</legend>
  <div class="form-group">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="true">
      <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
    </div>
  </div>
</fieldset>
