<!DOCTYPE html>
<html>
<head>
  <title>Зборянська ЗОШ</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootswatch', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.11.2/standard-all/ckeditor.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="<%= root_path %>">Сайт Школи</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Новини  <span class="badge badge-primary badge-pill">+10000</span><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pdfs_path %>">Файли</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Фотоальбом</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= collective_index_path %>">Колектив</a>
      </li>
    </ul>
    <div id="root">
      <ul class="navbar-nav pull-xs-right">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to image_tag(current_user.avatar.url, class: 'bl'), edit_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "power_settings_new", destroy_user_session_path, :method => :delete, class: "btn material-icons btn-link", style: "color: red" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Вхід", new_user_session_path, class: "nav-link", id: 'login', :@click => "showLoginModal=true" %>

          </li>
          <li class="nav-item">
            <%= link_to "Реєстрація", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="row container-fluid">
  <div class="<%= user_signed_in? ? "col-lg-8 mr-4 ml-5 mt-4" : 'col-lg-11 mr-4 ml-5 mt-4' %>">
    <%= yield %>
  </div>
  <div class="<%= user_signed_in? ? "col-lg-3 ml-0 mt-4" : 'text-hide col-lg-0 ml-0 mt-0 d-none' %>">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'Дистанційне навчання', remote_study_index_path %>
        <span class="badge badge-primary badge-pill"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to 'Домашнє завдання', home_works_path %>
        <span class="badge badge-primary badge-pill"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to '"Мій клас"', my_class_path %>
        <span class="badge badge-primary badge-pill"></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to "Зауваження", student_report_index_path %>
        <span class="badge badge-primary badge-pill">100000000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to_if (user_signed_in? and current_user.has_role? :admin), 'Адмін панель', show_user_path %>
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>
    <p></p>
    </br>
    <div class="jumbotron">
      <%= "Користувачів Онлайн: #{User.online_users.count}" %>
    </div>
  </div>


</div>

</body>
</html>